* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

body, html {
    background-color: #E1EFFC;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 8rem;
    display: flex;
    flex-direction: column;
    flex: 0.8;
}

#top-bar {
    display: flex;
    flex:1;
    background-color:transparent;
    width: 100%;
}

.logo {
    margin: 0 auto;
    align-self: center;
}

.logo img{
    width: auto;
    height: auto;
    z-index: 1;
}

#bottom-bar {
    display: flex;
    background-color: #1b72a8;
    min-height: 2.3rem;
}

#aplication-name {
    flex: 1;
    margin-left: 0.1rem;
    height: 80%;
    display: flex;
    align-self: center;
    padding: 0.3rem;
    text-wrap: nowrap;
    border-radius: 2px;
    /* Box Shadow */
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44); 

}

#vazio {
    flex: 1;
}

#aplication-name p {
    color: #fff;
    font-size: 1rem;
}

#bottom-bar nav {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.button-bottom-bar {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0.5rem;
    color: #fff;
    transition: 0.1s;
    cursor: pointer;
    font-size: 0.8rem;
}

.button-bottom-bar:hover{
    border-bottom: 3px solid #fff;
    font-size: 0.85rem;
}

.button-selected {
    border-bottom: 3px solid #fff;
}

#container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    min-height: 65%;
    flex: 6;
}

#side-bar{
    display: flex;
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
}

.side-bar-inner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.5rem;
    overflow-y: scroll;
    width: 95%;
    height: 100%;
    background-color: transparent;
}

.central-inner::-webkit-scrollbar, .side-bar-inner::-webkit-scrollbar {
    width: 0.3rem;
    display: block;
}

.central-inner::-webkit-scrollbar-track, .side-bar-inner::-webkit-scrollbar-track {
    background-color: #cccccc8e;
    border-radius: 100px;
}

.central-inner::-webkit-scrollbar-thumb, .side-bar-inner::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #1b72a898;
}


.link-sidebar {
    padding: 10px 5px;
    text-align: center;
    margin: 0.4rem 0;
    display: flex;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s linear;
    /* Box Shadow */
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
}

.link-sidebar p{
    align-self: center;
    margin: 0 auto;
    font-size: 0.8rem;
    transition: 0.1s linear;
    font-weight: bold;
}

.link-sidebar:hover{
    background-color: #1b72a8;
    color: #fff;
}

main {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex: 7.4;
}

#central{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 5px;
    background-color: #fff;
    border-radius: 5px;
        /* Box Shadow */
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44); 
}

.topbar-central {
    display: flex;
    flex-direction: row;
    background-color: #77aac9;
    min-height: 1rem;
    padding: 0.7rem;
    justify-content: flex-end;
}

.topbar-central button {
    background-color: #1ca018;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0.3rem;
    align-self: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.topbar-central button:hover {
    background-color: #fff;
    color: #1ca018;
}

.central-inner {
    width: auto;
    height: auto;
    max-height: 100%;
    padding: 0.3rem;
    margin: 0.3rem 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;
    overflow-y: scroll;
}

.central-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 20rem;
    height: 20rem;
    min-height: auto;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
        /* Box Shadow */
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);

}


.central-item .central-item-text {
    min-height: 40%;
    max-height: 40%;
    overflow: hidden;
    margin-bottom: 1rem;
    pointer-events: none;
}

.central-item h4{
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.8rem;
    pointer-events: none;
}

.central-item p{
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
    pointer-events: none;
}

.central-item .resource-img {
    display: flex;
    border: 1px solid #ccc;
    width: 75%;
    padding: 0.4rem;
    max-height: 50%;
    pointer-events: none;
}

.central-item .resource-img img{
    width: 80%;
    margin: 0 auto;
    max-height: fit-content;
    pointer-events: none;
}


footer {
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    max-height: 8rem;
    flex: 0.1;
    background-color: #1b72a8;
    display: flex;
}

#rodape {
    margin: 0 auto;
}

#rodape h4{
    color: #fff;
    font-size: 0.7rem;
}

.add-resource-screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 5px;
    width: 60%;
    height: auto;
    top: 10%;
    left: 20%;
    /* Box Shadow */
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
    padding: 1rem;
}

.add-resource-screen-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 2rem;
}

.add-resource-screen h3 {
    margin: auto 0;
}

.add-resource-screen-header button {
    width: 20px;
    height: 20px;
    align-self: center;
}

.add-resource-screen-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.add-resource-screen-form label {
    margin-bottom: 0.3rem;
}

.add-resource-screen-form input {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

#add-resource-screen-form-button-ok {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    background-color: #1b72a8;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 20px;
    opacity: 0.8;
    margin-bottom: 1rem;
}

#add-resource-screen-form-button-ok:hover {
    opacity: 1;
}

.hide {
    display: none;
}


